{% extends 'Website/base.html' %}
{% load article_filters %}

{% block title %}{{ article.title }} - Website{% endblock %}

{% block content %}
	<h1>Article Details</h1>
	
	<div>
		<h2>{{ article.title }}</h2>
		
		<p><strong>Author:</strong> {{ article.author.username }}</p>
		
		<p><strong>Created:</strong> {{ article.created }}</p>
		
		<p><strong>Published:</strong> {{ article.created|time_since_publication }}</p>
		
		<p><strong>Synopsis:</strong></p>
		<p>{{ article.synopsis }}</p>
		
		<p><strong>Content:</strong></p>
		<div>{{ article.content }}</div>
		
		{% if user.is_authenticated and favourite_form %}
		<br>
		<h3>Add to Favourites</h3>
		<form method="post">
			{% csrf_token %}
			{{ favourite_form.as_p }}
			<button type="submit">Add to Favourites</button>
		</form>
		{% endif %}
	</div>
{% endblock %}
