{% extends 'Website/base.html' %}

{% block title %}Publish Article - Website{% endblock %}

{% block content %}
	<h1>Publish a New Article</h1>
	
	{% if form.errors %}
		<div style="color: red;">
			<p>Please correct the following errors:</p>
			<ul>
				{% for field, errors in form.errors.items %}
					{% for error in errors %}
						<li>{{ field }}: {{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	
	<form method="post">
		{% csrf_token %}
		<div>
			<label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
			{{ form.title }}
		</div>
		<div>
			<label for="{{ form.synopsis.id_for_label }}">{{ form.synopsis.label }}:</label>
			{{ form.synopsis }}
		</div>
		<div>
			<label for="{{ form.content.id_for_label }}">{{ form.content.label }}:</label>
			{{ form.content }}
		</div>
		<button type="submit">Publish</button>
	</form>
{% endblock %}
